.kebab {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--grey-dark);
    height: 30px;
    width: 30px;
    border-radius: 30px;
}

.dot {
    height: 4px;
    width: 4px;
    background-color: var(--inverse);
    border-radius: 5px;
}

.dot:not(:last-child) {
    margin-right: 2px;
}