:root {
    --primary-color: #2F60F5;
    --secondary-color: #F5F7FE;
    --grey-dark: #8D98A9;
    --grey: #F8F8F8;
    --black: #141414;
    --border: #E9E9E9;
    --inactive: #c8c8c8;
    --inverse: #ffffff;
    --white: #f2f2f2;
    --info: #487fff;
    --error: #db3d3d;
    --warning: #db8f3d;
}