.toast {
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 20px;
    min-width: 250px;
    z-index: 9999;
    margin-bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    animation: slideUp 0.5s forwards
}

@keyframes slideUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    10% {
        transform: translateY(10%);
        opacity: 1;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}