.templates {
    margin-bottom: 2rem;
    display: flex;
    overflow: auto;
}

.templateName {
    padding: 0.5rem 1.5rem;
    background-color: #ebebeb;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.2s ease-in;
}

.templateName.active {
    background-color: var(--grey-dark);
}

.templateName:hover {
    background-color: var(--grey-dark);
}

.templateName.active span {
    color: #fff !important;
}

.templateName:not(:last-child) {
    margin-right: 1rem;
}

.templateContent {
    height: 100%;
}