.product {
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.cellLabel {
    display: none;
}

.product:not(:last-child) {
    border-bottom: 1px solid #ebebeb;
}

.details {
    display: flex;
    align-items: center;
    flex: 1;
}

.delete {
    background-color: #fff;
    border: 1px solid #ff5757;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    cursor: pointer;
    margin-left: 1rem;
    color: #ff5757;
}

.total {
    width: 120px;
    text-align: right;
}

@media (max-width: 768px) {
    .product {
        display: block;
    }

    .cellLabel {
        display: block;
    }

    .total {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;
    }

    .delete {
        width: 100%;
        margin: 1rem 0;
    }
}