.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* table styles */
.table {
  width: 100%;
  display: table;
}

@media screen and (max-width: 580px) {
  .table {
    display: block;
  }
}

.row {
  display: table-row;
}

@media screen and (max-width: 580px) {
  .row {
    display: block;
  }

  .row.header {
    padding: 0;
    height: 6px;
  }

  .row.header .cell {
    display: none;
  }
}

.cell {
  padding: 6px 12px;
  display: table-cell;
}

@media screen and (max-width: 768px) {
  .cell {
    padding: 2px 16px;
    display: block;
    width: 100% !important;
  }
}

.productListTable .cell:first-child {
  width: 50%;
}

.productListTable {
  text-transform: uppercase;
}

/*  */

.activated {
  background-color: #2F60F5 !important;
}

.activated svg {
  fill: #fff;
}

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}