* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600
}

button {
  background-color: transparent;
}

ul,
li {
  list-style-type: none;
}

body {
  margin: 0;
  font-optical-sizing: auto;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2b2b2b;
}

.spinner {
  position: absolute;
  background-color: rgba(234, 234, 234, 0.4);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* scrollbar */

::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track (background) of the scrollbar */
::-webkit-scrollbar-track {
  background: #fff;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

/* Thumb (draggable part) of the scrollbar */
::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 10px;
  /* Add padding around the thumb */
}

/* Hover effect on the thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

::-webkit-scrollbar-corner {
  background-color: #f1f1f1;
}